html {
    width: 480px;
    margin: 0 auto;
    background-color: rgba(136, 44, 44, 0.89);
    /* opacity: 0.75; */
}
* {
    width: 480px;
}

/* Unvisited link */
a {
    color: black;
    font-family: 'Days One', sans-serif;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: black;
}   
/* mouse over link */
a:hover {
    color: red;
}

nav {
    margin-bottom: 10%;
}
label {
    margin-right: 28%;
}