html {
    width: 480px;
    margin: 0 auto;
    background-color: rgba(136, 44, 44, 0.89);
    /* opacity: 0.75; */
}
* {
    width: 480px;
}

/* Unvisited link */
a {
    color: black;
    font-family: 'Days One', sans-serif;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: black;
}   
/* mouse over link */
a:hover {
    color: rgb(255, 156, 8);
}

nav {
    margin-bottom: 5%;
    border-bottom: solid 2px black;
    height: 40px;
    margin-top: 10px;
}
label {
    margin-right: 28%;
}
h1 {
    font-family: 'Days One', sans-serif;
    font-size: 60px;

}
