div.popup {
    border-radius: 1.6em;
    background: rgba(0, 0, 0, 0.66);
    display: none;
    height: auto;
    left: 1%;
    margin-bottom: 3%;
    padding: 0;
    position: relative;
    top: 20.5%;
    width: 99%;
    height: 300px;
    padding-left: 15px;
    z-index: 99999;
  }
  
  /* popup image */
  
  img.image {
    display: block;
    margin: 3% 0 0 18.6%;
    padding-bottom: 4%;
    width: 64%;
  }
  
  /* close button */
  
  img.close_button {
    position: relative;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 2%;
  }
  
  /* click button */
  
  div.button {
      background: #255F85;
      border-radius: 0.6em;
      color: white;
      cursor: pointer;
      font-family: 'Lato', sans-serif;
      font-size: 1.2em;
      margin: 10% auto 0;
      padding: 1%;
      text-align: center;
      width: 18%;
  }
  
  /* click button hover */
  
  div.button:hover {
    background: #255F85;
    color: #FFC857;
  }